*{
    margin: 0;
    padding: 0;
    list-style: none;
    
}
bg1{
    
}
.navbar{
    background-color: aqua;
    border: 2px solid black;
    /* display: flex;
    flex-direction: row;
    justify-content: space-around; */
    float: left;

}
.nav-tabs{
    border: 2px solid black;
    display: flex;

}
.navLinks{
    

    border: 1px solid red;
}