:root{
--sefety-orange_10: hsla(24, 100%, 50%, 0.1);
--sefety-orange: hsl(24, 100%, 50%);
--sonic-silver: hsl(220, 1%, 48%);
--gunmetal_10: hsla(217, 21%, 16%, 0.1);
--davys-gray: hsl(220, 2%, 31%);
--light-gray: hsl(0, 0%, 80%);
--gunmetal: hsl(217, 21%, 16%);
--cultured: hsl(0, 0%, 95%);
--black_40: hsla(0, 0%, 0%, 0.4);
--black_25: hsla(0, 0%, 0%, 0.25);
--black_15: hsla(0, 0%, 0%, 0.15);
--white: hsl(0, 0%, 100%);
--snow: hsl(345, 20%, 96%);

/* topography */

--ff-jost: 'Jost', sans-serif;

--fs-1: 3.8rem;
--fs-2: 2.2rem;
--fs-3: 2rem;
--fs-4: 1.8rem;
--fs-5: 1.4rem;

--fw-600: 600;
--fw-500: 500;

/* ## Spacing */

--section-padding: 80px;

/* ## Shadow */

--shadow-1: 0px 2px 15px hsla(0, 0%, 0%, 0.05);
--shadow-2: -10px 10px 40px -2px hsla(217, 21%, 16%, 0.05);

/* ## Border Radius */

--radius-pill: 500px;
--radius-circle: 50%;
--radius-4: 4px;

}
.section{
    margin: auto;
}
.container{
    width: 80%;
    margin: 0px auto;
    border: 1px solid black;
    max-width: 720 px;
}
.row{
    display: flex;
}
.header{
    justify-content: space-between;
    align-items: center;
}