@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
*{
    margin: 0;
    padding: 0;
    list-style: none;
    font-family: sans-serif;
    text-decoration: none;
    /* background-color: aquamarine; */
}

.bg{
    background-image: url('./Images/image.png');
    width: 100%;
    height: 100vh;
    background-position: center ;
    background-size: cover;
    position: relative;
}
.primary-navigation{
    /* background: pink; */
    width: 88%;
    margin: auto;
    /* border: 2px solid black; */
    display: flex;
    align-items: center;
    justify-content: space-between;

}
.nav-links li{

    display: inline-block;
    margin: 0 15px;

}
.primary-navigation {

}