*{
    margin: 0;
    padding: 0;
    list-style: none;
    font: sans-serif;
    background-color: aquamarine;
}
.bg{
    width: 100%;
    height: 100vh;
    background-color: blue;
    background-image: url('./Images/image.png');
    background-position: center;
    background-size: cover;
}