*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
nav{
    background: blue;
    width: 90vh;
    height: 103px;
}

.logo img{
    width: 149px;
    height: 103px;
}
.appointment{
    
}
.apoint{

}